# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.*~

# autoconf  files
Makefile
Makefile.in
aclocal.m4

# CMake cache
CMakeCache.txt
CMakeFiles/

# Valgrind files
callgrind*
vgcore*

# some backups
.travis.yml2
ci_build.sh2
ci_deploy.sh2

autom4te.cache/
config/

